extends /layout

block content
	//-p= JSON.stringify(entry)
	section.artist-hero.imagebg.parallax.height-50(data-overlay)
		.background-image-holder
			img(src="#{asset(entry.artistPhoto)}")
	section.shift-up
		.container
			.row.text-center
				.col-sm-12
					img.artist-img.angle(src="#{asset(entry.artistPhoto)}")
				.col-sm-12.mt--1
					h3= entry.artistName
				.col-sm-12
					if entry.socialLinks != undefined
						ul.artist-social
							for item in entry.socialLinks
								li
									a(href="#{item.fields.url}" target="_blank")
										i.fa(class="fa-#{item.fields.site}")
			.row.text-center
					.col-sm-12.mt--1
							//-p= JSON.stringify(entry.dateFormatted)
							if entry.dateFormatted != undefined
								- var d = entry.dateFormatted
								//-script.
									console.log("#{d.dayName} #{d.month} #{d.day} #{d.hour}:#{d.minutes} #{d.ampm}")
								//- console.log(date.getUTCHours())
								//- if (date.getUTCHours()) != 9
								//- 	h4= days[date.getDay()]
								//- 	h5= months[date.getMonth()] + ' ' + date.getDate() + ' - ' + hours + ':' + minutes + ' ' + ampm
								//- else
								h4= d.dayName
								h5= d.month + ' ' + d.day + ',' + d.hour + ':' + d.minutes + d.ampm
								if entry.playing.fields.location != undefined
									h5= entry.playing.fields.location
				if entry.bio != undefined
					.col-sm-12
						.md!= md(entry.bio)
