extends /layout

block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header.jpg")
		//-p= JSON.stringify(subPages)
	if entry != undefined
		if entry.sections != undefined
			for section in entry.sections
				- var heavy = section.fields.heavyColor ? 'heavy' : ''
				- var color = section.fields.overlayColor == undefined ? '' : section.fields.overlayColor
				- var bgpos = section.fields.bgPosition == undefined ? '' : section.fields.bgPosition
				section.angle.imagebg(class="#{heavy+' '+color+' '+bgpos}", data-overlay)
					.background-image-holder
						img(src="#{asset(section.fields.backgroundImage)}")
					.container
						if section.fields.textBlocks != undefined
							for block in section.fields.textBlocks
								if block.sys.contentType.sys.id === 'textSection'
									- var blockId = block.fields.id == undefined ? '' : block.fields.id
									if block.fields.subhead != undefined
										.row.text-center.subHeadRow(id="#{blockId}")
											.col-sm-12
												h2= block.fields.subhead
												.separator
									if block.fields.body != undefined
										- var align = block.fields.align == undefined ? '' : 'text-'+block.fields.align
										.row(class="#{align}")
											.col-sm-12
												.md!= md(block.fields.body)
								else if block.sys.contentType.sys.id === 'photoGallery'
								else if block.sys.contentType.sys.id === 'videoSection'
									if block.fields.iframe != undefined
										.md!= block.fields.iframe
								else
									- console.log('unrecognized block section')
