extends /layout

block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header.jpg")
	section.angle.imagebg.maroon.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img2.jpg")
		#artists.container.masonry
			.row.text-center
				.col-sm-12
					h2 THE LINEUP
					.separator
			.row.masonry__container.text-center
				if contentful.artists != undefined
					for item in contentful.artists
						.artist.angle.col-sm-4.col-xs-6.masonry__item
							a(href="#{item._url}")
								img.artist-photo(src="#{asset(item.artistPhoto)}")
								span.artist-name= item.artistName
								if item.socialLinks != undefined
									ul.social-media
										for link in item.socialLinks
											li
												a(href="#{link.fields.url}" target="_blank")
													i.fa(class="fa-#{link.fields.site}")
