extends /layout

block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="/img/bg/panorama-header.jpg")
	section.imagebg.blue.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header4.jpg")
		#artists.container.masonry
			.row.text-center
				.col-sm-12
					h2 THE ARTISTS
				.col-sm-12.mb--1
					
			if contentful.eventCategories != undefined
				.row.text-center
					.masonry-filter-holder.masonry-filters--horizontal
						.masonry__filters
							ul
								li.color-purple.active(data-masonry-filter="*") All Artists
								li.color-purple.active(data-masonry-filter="day1") Day 1 Artists
								li.color-purple.active(data-masonry-filter="day2") Day 2 Artists
			.row.masonry__container.text-center
				if contentful.artists != undefined
					for artist in contentful.artists
						- var cats = ''
						if artist.playing != undefined
							for cat in artist.playing.fields.categories
								- cats+= " filter-" + cat.fields.id
						.artist.angle.col-sm-4.col-xs-6.masonry__item(class="#{cats}")
							a(href="#{artist._url}")
								img.artist-photo(src="#{asset(artist.artistPhoto)}")
								span.artist-name= artist.artistName
								if artist.socialLinks != undefined
									ul.social-media
										for link in artist.socialLinks
											li
												a(href="#{link.fields.url}" target="_blank")
													i.fa(class="fa-#{link.fields.site}")
