extends layout

block content
	//-p= JSON.stringify(contentful.artists)
	section#first-section.imagebg.parallax.pink(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header2.jpg")
		.container
			.row.text-center
				.col-sm-12
					img#big-logo(src="/img/logo/logo-blue.png")
					#date-container.counter-class(data-date='2019/05/04 18:00:00')
						#countdown-timer
							.countdown-section
								span.countdown-amount.first-item.countdown-days.counter-days XXX
								span.countdown-period Days
							.countdown-section
								span.countdown-amount.countdown-hours.counter-hours XX
								span.countdown-period Hours
							.countdown-section
								span.countdown-amount.countdown-minutes.counter-minutes XX
								span.countdown-period Minutes
							.countdown-section
								span.countdown-amount.countdown-seconds.counter-seconds XX
								span.countdown-period Seconds
					h2 MAY 4TH & 5TH 2019
					h3 TICKETS COMING SOON
					<a target="_blank" href="https://festdrive.myfanzone.com/events/busbank/grizzly_fest_2018/#/home/" class="btn white angle"><span class="btn__text color-blue">Tickets Coming Soon</span></a>
			.row.text-center
	section.angle.imagebg.bg-ct
		.background-image-holder
			img(src="/img/bg/home-img1.jpg")
		.container
			.row.text-center
				.x-pad.col-sm-6.col-sm-offset-6.bg-blue.bg-t5.angle.info-box
					h2 THE LOCATION
					.separator
					h5.color-white.
						FRESNO, CALIFORNIA #[br]
						WOODWARD PARK#[br]
					//-a.btn.white.angle(href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25535.277846298675!2d-119.79430402975113!3d36.86857946320614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDUxJzUzLjgiTiAxMTnCsDQ3JzE3LjgiVw!5e0!3m2!1sen!2sus!4v1545081541277" target="_blank" style='margin-top:30px;')
						span.btn__text.color-lightblue View the area
	section.angle#map.unpad
		.map-container.border--round.gmaps-active.height-50(
		data-maps-api-key='AIzaSyBFxlargzJc2CmgNeXHpnAeXJ1y4C5n64U',
		data-address='7775 N Friant Rd, Fresno, CA 93720',
		data-map-zoom='14',
		style='position: relative; overflow: hidden;',
		data-map-style='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]'
		)
