extends layout

block content
	section.imagebg.parallax.pink.height-100(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header.jpg")
		.container.pos-vertical-center
			.row.text-center
				.col-sm-12
					img(src="/img/logo/logo-blue.png")
					.counter-class(data-date='2018/05/18 14:30:00')
						#countdown-timer
							.countdown-section
								span.countdown-amount.first-item.countdown-days.counter-days 106
								span.countdown-period Days
							.countdown-section
								span.countdown-amount.countdown-hours.counter-hours 23
								span.countdown-period Hours
							.countdown-section
								span.countdown-amount.countdown-minutes.counter-minutes 48
								span.countdown-period Minutes
							.countdown-section
								span.countdown-amount.countdown-seconds.counter-seconds 34
								span.countdown-period Seconds
					h2 MAY 18TH & 19TH 2018
	section.angle.height-70.imagebg
		.background-image-holder
			img(src="/img/bg/home-img1.jpg")
		.container.pos-vertical-center
			.row.text-center
				.x-pad.col-sm-6.col-sm-offset-6.bg-blue.bg-t5
					h2 THE LOCATION
					.separator
					h5.color-white.
						FRESNO, CALIFORNIA #[br]
						WOODWARD PARK#[br]
						2:30PM - MIDNIGHT#[br]
						ALL AGES
	section.angle.imagebg.maroon.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img2.jpg")
		.container.masonry
			.row.text-center
				.col-sm-12
					h2 THE LINEUP
					.separator
			.row.masonry__container.text-center
				.col-sm-4.masonry__item
					a(href="#")
						img(src="/img/artists/snoopDogg.jpg")
						span Snoop Dogg
				.col-sm-4.masonry__item
					a(href="#")
						img(src="/img/artists/C5-Hi-Res.jpg")
						span C5
				.col-sm-4.masonry__item
					a(href="#")
						img(src="/img/artists/Mangchi.jpg")
						span Mangchi
				.col-sm-4.masonry__item
					a(href="#")
						img(src="/img/artists/Phantogram-small.jpg")
						span Phantogram
				.col-sm-4.masonry__item
					a(href="#")
						img(src="/img/artists/Sharks-of-Dance.jpg")
				.col-sm-4.masonry__item
					a(href="#")
						img(src="/img/artists/The Gospel Whiskey Runners.jpg")
	
	section.angle.imagebg.blue(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img4.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 THE EVENTS
					.separator
	section.angle.imagebg.maroon(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img5.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 THE SPONSORS
					.separator
	section.angle.imagebg.lightblue(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img6.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 THE AREA
					.separator
	section.angle.imagebg.pink(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img7.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 THE BLOG
					.separator
	section.angle#map.unpad
		.map-container.border--round.gmaps-active.height-50(
		data-maps-api-key='AIzaSyBFxlargzJc2CmgNeXHpnAeXJ1y4C5n64U', 
		data-address='7775 N Friant Rd, Fresno, CA 93720', 
		data-map-zoom='14', 
		style='position: relative; overflow: hidden;',
		data-map-style='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]'
		)

		
